main {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 10px 5px 5px;
    flex-wrap: wrap;
}

main h1 {
    align-self: center;
}

main select {
    display: block;
    font-size: 18px;
    padding: 5px;
    align-self: flex-start;
    flex-basis: 50%;
    margin-bottom: 10px;
}