nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    margin: 12px 0;
    text-align: center;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
    color: #3bb2e2;
    flex-basis: 45%;
    font-size: 25px;
    cursor: pointer;
}